body{
    /* background-color: lightgray; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.allLeaves{
    /* width: 75%; */
    display: flex;
    justify-content:center;
    vertical-align: middle;
    padding: 50px 0px;
}

.leave{
    width: 20%;
    margin: 0px 15px;
    display: flex;
    flex-direction:column;
    background-color: white;
    border: 0px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.192);
}

.secondRow{
    display:flex;
    align-items: center;
    justify-content:space-between;
}

.iconPercent{
    color: #24BBE6;
}

.blackPart{
    color: white;
    background-color: #353A46;
    padding: 15px 20px;
    border-radius: 0 0 10px 10px;
}

.leaveMessage{
    width: 80%;
}

.leaveLabel{
    color: #7c7c7c;
    font-weight: 500;
}

.whitePart{
    padding: 15px 20px;
    align-items: center;
}

.leaveTotal{
    color: #353A46;
    font-size: 32px;
    font-weight: 900;
}

.thirdLeave .iconPercent{
    color:#DF2879;
}